.header,
.footer,
h2 {
	text-align: center;
}

.fa-paw {
	padding: 0 1rem;
}

.searchBar {
	display: flex;
}

.content {
	display: none;
}

.main {
	/* display: none; */
}

.results {

}

.imgContainer {
	/* background-color: lightgray; */
	height: 300px;
	width: 300px;
}

/* #modal {
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	width: 20%;
	height: 20%;
} */